/* You can add global styles to this file, and also import other style files */

/* Material Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Margins Paddings Reset */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Wrapper */
#wrapper {
    padding: 2rem;
    overflow: auto;
}

/* Menu */
#primary-menu ul {
    padding: 0;
}

#primary-menu ul li {
    display: inline;
    margin-right: 2rem;
}

#primary-menu ul li a {
    color: #fff;
    text-decoration: none;
}

#primary-menu ul li a.active {
    color: #a9ff00;
}


/* Content */
#page-title {
    margin: 1rem 0;
}

.article {
    background: #eee;
    padding: 0 !important;
    margin-bottom: 2rem;
}

/* Thumbnails */
.thumb img,
.single-thumb img {
    width: 100%;
    margin: 0 !important;
    cursor: pointer;
    outline: 0;
    display: block;
}

.single-thumb img {
    cursor: default;
}

/* Card Titles */
mat-card-title {
    cursor: pointer;
    outline: none;
}

mat-card-title h2 {
    outline: none;
    margin: 1rem 0;
}

/* Card Content */
mat-card-content,
.content {
    padding: 0rem 2rem 2rem;
}

mat-card-content p {
    line-height: 1.4rem;
}

/* Footer */
footer {
    background: #eee;
    padding: 1rem 2rem;
}