/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0
}

header,
footer {
    background: #eee;
    padding: 1rem 2rem;
}

#primary-menu ul {
    padding: 0;
}

#primary-menu ul li {
    display: inline;
    margin-right: 2rem;
}

#wrapper {
    padding: 1rem 2rem;
    overflow: auto;
}

.article {
    background: #fafafa;
    border: 1px solid #eee;
    padding-right: 1rem;
    margin-bottom: 2rem;
    clear: both;
    overflow: auto;
}
.thumb {
    float: left;
    margin-right: 1rem;
}
.thumb img {
    max-width: 180px;
}